# Build output
.dfx/
.astro/
dist/
node_modules/

# env files
.env

# MacOS
.DS_Store

# Ignore all unzipped content from projects
docs/src/content/docs/**
# Track any file you want to keep manually here
!docs/src/content/docs/index.mdx
