# Brotli compression does not work with Deno 2.4.3 and 2.4.4, so pin the version for now
# TODO: remove once a patch for Deno is released, see https://github.com/denoland/deno/issues/30259#issuecomment-3191140500
deno 2.4.2
